name: GitHub Actions Demo
on: [push]
jobs:
 Explore-GitHub-Actions:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python: [3.6, 3.7, 3.8, 3.9]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup-python ${{ matrix.python }}
      uses: ./
      with:
        python-version: ${{ matrix.python }}


    - name: Run tests
    - run: echo 'start'
    - run: pip install hypothesis
    - run: pip install sympy
    - run: python -m unittest discover